.p1::after { background-color: black;
    color: white;
    content: "-Novo conteúdo";
}
.p2::before {
    background-color: black;
    color: white;
    content: "-Novo conteúdo";
}
.p3::after {
    content: "Bom dia";
    background-color: blueviolet;
    color: white;
}