* {
    background-color: black;
    color: white;
}
 img { 
    margin: 20px;
   float: right;
    width: 200px;
    height: 100px;
 }
 p { padding: 0px;
    margin: 0px;
    font-size: 20px;
 }
 @media (max-width: 500px) {
    img { 
        display: none;
       
     }
 }
